* {
	font-family: Ubuntu, sans-serif;
}

table {
	border-spacing: 0px;
	border: 0px;
}

table td:not(:last-of-type) {
	padding-right: 10px;
}

table tr:first-of-type {
	font-weight: bold;
}

table tr:nth-child(even):not(.highlight) {
	background-color: silver;
}

tr.highlight, tr.highlight a {
	background-color: green;
	color:white;
	font-size:larger;
}

img {
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
	border: 0px;
}

#dartimg {
	float:right;
	max-width:40%;
	position: absolute;
	right: 15px;
	top: 15px;
}

#dartimg:hover {
	-moz-transition: max-width 2s ease-in .2s;
	-webkit-transition: max-width 2s ease-in .2s;
	-ms-transition: max-width 2s ease-in .2s;
	-o-transition: max-width 2s ease-in .2s;
	transition: max-width 2s ease-in .2s;
	max-width:80%;
}

.smallimgcontainer {
	float:right;
	position: relative;
	right: 15px;
	top: -20px;
}

.smallimg {
	max-height:100px;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
	position: absolute;
	right: 0px;
	top: 0px;
	border: 0px;
}

.smallimg:hover {
	max-height: 400px;
	-moz-transition: max-height 2s ease-in .2s;
	-webkit-transition: max-height 2s ease-in .2s;
	-o-transition: max-height 2s ease-in .2s;
	-ms-transition: max-height 2s ease-in .2s;
	transition: max-height 2s ease-in .2s;
}

.bubble {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.bubble > h2, .bubble > h3, .bubble > h4 {
	margin-top: 0px;
	margin-bottom: 3px;
}
