* {
	font-family: Ubuntu, sans-serif;
}

table {
	border-spacing: 0px;
}

table td:not(:last-of-type) {
	padding-right: 10px;
}

table tr:first-of-type {
	font-weight: bold;
}

table tr:nth-child(even):not(.highlight) {
	background-color: silver;
}

tr.highlight, tr.highlight a {
	background-color: green;
	color:white;
	font-size:larger;
}

img {
	float:right;
	max-width:40%;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
	position: absolute;
	right: 15px;
	top: 15px;
	border: 0px;
}

img:hover {
	max-width:80%;
	-moz-transition: max-width 2s ease-in .2s;
	-webkit-transition: max-width 2s ease-in .2s;
	-ms-transition: max-width 2s ease-in .2s;
	transition: max-width 2s ease-in .2s;
}
